* {
  padding: 0;
  margin: 0;


}

body {


  /* height: 100vh;
  text-align: center;
  background-color: ; */

}

/* header + navbar section */
.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  /* align-content: center;*/
  padding: 0px;
  padding: 0px;
  /* border: 2px solid black; */
  align-items: center;

}

.navbar {
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: larger;
  text-decoration: none;

}

button {

  background-color: blue;
  height: 3em;
  width: 10em;
  color: white;
  border-radius: 5px;
  font-size: 15px;

}

button:active {
  background-color: white;
}

#hamburger {
  height: 40px;
  width: 40px;
  /* padding-left: 90px; */
  display: none;
  /* margin-right: 0;
  margin-left: 600px; */
}

/* Navbar-media-queries */

@media (max-width:932px) {

  #hamburger {

    display: block;
    height: 40px;
    width: 40px;
    /* padding-left: 25px; */
    margin-right: 0;
    margin-left: 490px;

  }
}
 
@media (max-width:932px) {
  .navbar {

    display: none;


  }

  .navbtn {
    display: none;
  }

  .nav-logo-name {

   margin-left: 20px;
    font-size: 25px; 
  
    width: 10vw;
    height: 5vh; 

  }
}

/* Herosection CSS apply */

.herocontainer {

  /* flex-wrap: wrap; */
  margin-top: 50px;
  height: 90%;
  width: 90%;
  border: 5px solid white;
  display: flex;
  align-content: center;
  padding: 10px;
  padding: 0px;
  margin-left: 40px;
  /* flex-wrap: wrap; */

}

.hero-section-heading {

  font-family: Georgia, 'Times New Roman', Times, serif;

}
.herosectionimg {

  height: 350px;
  width: 40%;
  padding: 1rem;
  border-radius: 40px;
  padding-top: 5px;
  /* box-shadow: 30px 5px 15px 5px rgba(66, 68, 90, 1); */
  margin-left: 170px;

}

/* herosection-media-queries */

@media (max-width:932px) {

  .herocontainer {

    flex-wrap: wrap;

  }
}

.herocontent {

  display: flex;
  flex-direction: column;
  padding: 20px;

  /* font-weight: 800; */

}

.herocontent p {

  font-size: 15px;
  font-style: normal;
  line-height: 25px;

}

.herosectionimg {

  height: 350px;
  width: 40%;
  padding: 1rem;
  border-radius: 40px;
  padding-top: 5px;
  box-shadow: 30px 5px 15px 5px rgba(66, 68, 90, 1);



}

@media (max-width:932px) {

  .herosectionimg {
    margin-top: 30px;
    height: 350px;
    width: 110vw;
    padding: 1rem;
    border-radius: 40px;
    padding-top: 5px;
    box-shadow: 30px 5px 15px 5px rgba(66, 68, 90, 1);
    margin-left: 0px;
  }
}

.herosectionimg:hover {

  transform: scale(1.05);

  box-shadow: 30px 5px 15px 5px rgba(66, 68, 90, 1);

  border: 1px solid pink;



}
.herosectionimg::shadow {

  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}

h1 {

  color: black;

  font-size: 50px;

}

.herobuttons {

  display: flex;
  justify-content: space-between;
  /* background-color: black;  */


  text-align: left;
  padding-left: 0;
  align-self: flex-start;

}

/* media-queries on Hero-section-Btn */

@media (max-width:932px) {

  .herobuttons {

    display: flex;
    justify-content: space-be;
    /* background-color: black;  */


    /* text-align: left; */
    padding-left: 0;
    align-self: center;

  }

}

#btn2 {
  margin-left: 60px;
  background-color: black;
}

#btn2:hover {

  background-color: red;
}

#btn2:active {
  background-color: green;


}

button:hover {

  background-color: red;
}

button:active {
  background-color: green;
}


/* .nunito {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings;
  "wdth" 100;
  "YTLC" 500;
} */



/* Trusted Company Section  */

.Companies-container {

  /* border: 2px solid black; */
  text-align: center;
  padding: 50px;
  /* align-content: end; */
  height: 80%;
  width: 80%;
  margin-top: 50px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
  margin-bottom: 10px;
  /* border: 2px solid black; */
  /* margin-left: 20px; */
  align-items: end;
  flex-wrap: wrap;
}


.company-grid {
  /* position: fixed; */
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  justify-content: center;
  font-size: 18px;
  height: 2rem;
  width: 60%;
  padding: 1rem;

  align-items: center;
  margin-left: 200px;
  justify-content: space-around;
  background-color: rgb(236, 236, 236);
  /* animation: slideFromleft 3s ease forwards; */
}


/* .company-grid{

  height: 350px;
  width: 40%;
  padding: 1rem;
  border-radius: 40px;
  padding-top: 5px;
  box-shadow: 30px 5px 15px 5px rgba(66, 68, 90, 1);



} */
.company-grid:hover {

  transform: scale(1.05);

  box-shadow: 30px 5px 15px 5px rgba(66, 68, 90, 1);

  border: 1px solid pink;



}

/* media-queries-on-company-grid */


@media (max-width:932px) {

  .company-grid {
    /* position: fixed; */
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
    /* justify-content: center; */
    font-size: 20px;
    height: 30%;
    width: 100vw;
    padding: 1rem;

    /* align-items: center; */
    margin-left: 30px;
    justify-content: space-evenly;
    background-color: rgb(236, 236, 236);
    /* animation: slideFromleft 3s ease forwards; */
  }

  .Companies-container {

    margin-left: 10px;
    padding: 40px;
    text-align: center;


  }

  .heroctrusted {

    font-size: 35px;
    margin-left: 100px;
    width: 100%;
    /* border: 2px solid black; */
    margin-bottom: 10px;
  }

}

.google-logo {

  height: 40px;
  width: 40px;

}

.logos {

  height: 30px;
}

/* cards-Section */

.feature-container {
  /* border: 4px solid red;  */
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: center;
  padding: 10px;
  text-align: center;
  background-color: rgb(236, 236, 236);
}


.Arielfont-for-allpara {
  font-family: Arial, Helvetica, sans-serif;
}

.feature-grid {
  height: 50%;
  width: 50%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);

  /* border: 5px solid green; */
  margin: 2px 0px 20px 320px;



  align-items: center;
  /* border: 2px solid red; */

}

.feature-content {
  /* border: 2px solid blue; */
  height: 100%;
  width: 100%;


}

.feature-card {

  height: 150px;
  width: 280px;
  background-color: rgb(65, 132, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: column;
  /* align-content: space-b; */
  padding: 20px;
  font-size: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;



}

.feature-card:hover {

  transform: scale(1.05);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0, 2);

  border: 1px solid pink;

  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);


}


.icon-container {

  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  /* padding: 0px; */
  /* align-items: center; */
  padding-top: 0px;
  align-items: center;

}

.icon-container img {
  height: 75%;
  width: 75%;
}


.feature-info {

  text-align: centers;
  color: white;
}

.feature-title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;

}

.feature-description {

  margin-top: 2px;
  font-size: 1rem;
  padding: 1px;
  font-size: 13px;


}

/* media quries aplly on cards section */

@media (max-width:932px) {

  .feature-card {

    margin-top: 30px;
    height: 350px;
    width: 100vw;
    background-color: rgb(65, 132, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;

    padding: 20px;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;


  }

  .feature-card:hover {

    transform: scale(1.05);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0, 2);

    border: 1px solid pink;

    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);


  }


  .icon-container {

    height: 85px;
    width: 95px;
    background-color: white;
    border-radius: 50%;
    /* padding: 0px; */
    /* align-items: center; */
    padding-top: 10px;
    align-items: center;

  }

  .icon-container img {
    height: 85%;
    width: 70%;
  }


  .feature-info {

    text-align: centers;
    color: white;
  }

  .feature-title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

  }

  .feature-description {

    margin-top: 2px;
    font-size: 1rem;
    padding: 2px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;


  }

}

.card2 {
  background-color: rgb(500, 90, 125);
}

.card3 {
  background-color: rgb(251, 183, 78);
}

.card4 {
  background-color: rgb(59, 182, 186);
}

.card5 {
  background-color: rgb(92, 141, 70);
}

.card6 {
  background-color: rgb(95, 91, 139);

}

/* cards section media queries */
@media (max-width:932px) {

  .feature-container {

    margin-left: 60px;
    height: 2700px;
    width: 575px;
    margin-bottom: 600px;
    background-color: rgb(236, 236, 236);
    /* margin-left: 10px;  */
    margin-left: 0px;
    margin: 0;
    /* border: 2px solid red; */



  }

  .feature-grid {

    grid-template-columns: repeat(1, 1fr);

    margin-left: 70px;
    /* flex-wrap: wrap; */
    margin-top: 30px;
    margin-left: 60px;
  }

  .feature-content {
    /* border: 2px solid blue; */

    height: 78%;
    width: 100%;

    /* border: 2px solid black; */
    padding: 0rem;
    margin-left: 10px;
    /* padding: 100px; */
    text-align: center;
    padding-bottom: 600px;
    margin-bottom: 100px;


  }

  .main-info {

    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* height: 25%; */
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    /* overflow-wrap: break-word; */
    overflow-wrap: break-word;

  }

}



/* TESTIMONIAL Section & About pages etc  */
.About-us-h1 {
  /* border: 2px solid blue; */
  display: inline;
  height: 60px;
  width: 550px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 400px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  /* border:  2px solid black; */
  align-items: center;

}

.TESTIMONIAL-container {
  /* 
  border: 2px solid black; */
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  /* padding: 100px; */
  /* margin: 20px; */
  font-family: Arial, Helvetica, sans-serif;
  / margin-top: 10px;
  /* background-color: black; */
  margin-left: 10px;

}

.cards-container {

  /* border: 2px solid black;
 /% display: flex;
  height: 400px;
  width: 80%;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
  margin-left: 0px;
  */
  position: relative;
  height: 300px;
  width: 85vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* border: 2px solid red; */
  margin-top: px;
  /* margin-right: 30px; */
  /* flex-wrap: wrap; */
  /* border: 2px solid black; */

}

.TESTIMONIAL-cards {
  height: 150px;
  width: 500px;
  /* position: relative; */
  border: 1px solid black;
  /* height: 150px;
  width: 650px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: column;
  padding: 60px;
  font-size: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* border-radius: 10px; */
  /* border: 2px solid black; */
  align-content: center;
  margin-top: 10px;
  align-content: space-evenly;
  border-radius: 10px;
  transition: transfor 0.3s ease, box-shadow 0.3s ease;

}

.TESTIMONIAL-cards:hover {

  transform: scale(1.05);
  border: 1px solid slateblue;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}

.TESTIMONIAL-para1 {

  /* margin:10px; */
  /* font-size: 1rem; */
  padding-top: 10px;
  font-size: 12px;
  font: bold;
  margin-bottom: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;


}


.name {
  margin-top: 20px;
  color: blue;
  font-size: 20px;
}

.about {

  margin-top: 8px;
}

.TESTIMONIAL-img {

  height: 100px;
  width: 100px;
  /* background-color: white;
  border-radius: 50%;
  /* padding: 0px; */
  /* align-items: center; */
  /* padding-top: 0px;
align-items: center; */

}

.card-img {

  height: 100px;


}

.TESTIMONIAL-cards {

  /* border: 2px solid red; */
  /* height: 40%;
  width: 40%; */
  background-color: white;

}

.TESTIMONIAL-cards {

  /* border: 2px solid blue; */
  /* height: 40%;
  width: 40%; */

}

@media (max-width:932px) {

  .About-us-h1 {
    /* border: 2px solid blue; */
    display: inline;
    height: 60px;
    width: 550px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 29px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    /* border:  2px solid black; */

  }

  .TESTIMONIAL-container {
    /* 
  border: 2px solid black; */
    height: 100%;
    width: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding: 100px; */
    /* margin: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    / margin-top: 10px;
    /* background-color: black; */
    margin-left: 10px;



  }

  .cards-container {

    /* border: 2px solid black;
 /% display: flex;
  height: 400px;
  width: 80%;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
  margin-left: 0px;
  */
    position: relative;
    height: 100%;
    width: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    margin-top: 25px;
    /* margin-right: 30px; */
    flex-wrap: wrap;
    /* border: 2px solid black; */

  }

  .TESTIMONIAL-cards {
    height: 150px;
    width: 500px;
    /* position: relative; */
    border: 1px solid black;
    /* height: 150px;
  width: 650px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    padding: 60px;
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* border-radius: 10px; */
    /* border: 2px solid black; */
    align-content: center;
    margin-top: 10px;
    align-content: space-evenly;
    border-radius: 10px;
    transition: transfor 0.3s ease, box-shadow 0.3s ease;

  }

  .TESTIMONIAL-cards:hover {

    transform: scale(1.05);
    border: 1px solid slateblue;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

  }

  .TESTIMONIAL-para1 {

    /* margin:10px; */
    /* font-size: 1rem; */
    padding-top: 10px;
    font-size: 15px;
    font: bold;
    margin-bottom: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: center;


  }


  .name {
    margin-top: 20px;
    color: blue;
    font-size: 20px;
  }

  .about {

    margin-top: 8px;
  }

  .TESTIMONIAL-img {

    height: 100px;
    width: 100px;
    /* background-color: white;
  border-radius: 50%;
  /* padding: 0px; */
    /* align-items: center; */
    /* padding-top: 0px;
align-items: center; */

  }

  .card-img {

    height: 100px;


  }

  .TESTIMONIAL-cards {

    /* border: 2px solid red; */
    /* height: 40%;
  width: 40%; */
    background-color: white;

  }

  .TESTIMONIAL-cards {

    /* border: 2px solid blue; */
    /* height: 40%;
  width: 40%; */

  }

}


/* News letter Section  for latest updates etc  */

.News-Letter-container {
  /* border: 2px solid red; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;


}

.News-Letter-content {
  /* border: 2px solid red; */
  height: 60%;
  width: 100%;
  display: flex;
  /* text-align: center; */
  margin: 80px;
  justify-content: end;
  padding: 1rem;
  /* flex-wrap: wrap; */
  margin-right: 80px;

}


.left-div-for-img {

  /* border: 2px solid red;
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: start; */

  /* border: 2px solid white; */
  /* height: ; */
  width: 50%;
  display: flex;
  justify-content: start;
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.left-div-for-img img {

  width: 100%;
  border-radius: 1px;
  margin-left: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}


.left-div-for-img:hover {
  transform: scale(1.05);
  border: 0px solid skyblue;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}


.Right-div-for-form {
  /* border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-content: space-around; */

  /* border: 2px solid white; */
  /* display: flex; */
  /* flex-direction: column; */
  align-content: space-evenly;
  padding: 20px;
  /* margin-left: 130px;  */
  background-color: rgb(236, 236, 236);
  /* width: 900px;  */
  border-top-Right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 20px;

}

.Right-div-for-form:hover {
  transform: scale(1.05);
  border: 1px solid slateblue;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

#news-ltr-button {

  height: 40px;
  width: 100px;
  margin-left: 20px;

}

#email {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  padding: 1px;
  padding-left: 10px;
}

#email:hover {

  /* transform: scale(1.05); */
  border: 2px solid blue;
  /* box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1); */

}

/* Media queries apply on News-letter-section */
@media (max-width:932px) {

  .News-Letter-container {
    /* border: 2px solid red; */
    height: 60vh;
    width: 600px;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    margin-left: 10px;
    margin-bottom:10px ;


  }

  .News-Letter-content {
    /* border: 2px solid red; */
    height: 60%;
    width: 700px;
    display: flex;
    /* text-align: center; */
    margin: 80px;
    justify-content: end;
    padding: 1rem;
    /* flex-wrap: wrap; */
    margin-right: 80px;
    /* border: 2px solid green; */


  }


  .left-div-for-img {

    /* border: 2px solid red;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: start; */

    /* border: 2px solid white; */
    /* height: ; */
    width: 50%;
    display: flex;
    justify-content: start;
    margin-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;

  }

  .left-div-for-img img {

    width: 100%;
    border-radius: 1px;
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;


  }


  .left-div-for-img:hover {
    transform: scale(1.05);
    border: 0px solid skyblue;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  }


  .Right-div-for-form {


    background-color: rgb(236, 236, 236);
        margin-right: 20px;
        width: 530px;
        /* border: 2px solid blue; */
        border-radius: 10px;
        align-items: center;
        margin-left: 30px;
        padding: 10px;
    

  }

  .Right-div-for-form:hover {
    transform: scale(1.05);
    border: 1px solid slateblue;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  }

  #news-ltr-button {

    height: 40px;
    width: 100px;
    margin-left: 20px;

  }

  #email {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    padding: 1px;
    padding-left: 10px;
  }

  #email:hover {

    /* transform: scale(1.05); */
    border: 2px solid blue;
    /* box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1); */

  }

}

/*footer-section*/

.footer-container {
  /* border: 2px solid red; */
  height: 70vh;
  width: 100vw;
  text-align: center;
  margin-top: 0px;
  /* border: 2px solid red; */
  font-size: 14px;
  /* border: 2px solid red; */
  
  

}

.footer {
  /* border: 5px solid green;  */
  height: 80%; 
 width: 98%; 
  display: flex;
  /* justify-content: center; */
  
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 20px; */
  padding: 10px;
  margin-left: 11px;
  margin-top: 0px;
  /* border: 2px solid green; */
  text-align: start;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  /* border: 2px solid blue; */
 
  
} 

.footer-top {
  
  /* height: 90%;
 
  height: 30vh;
  width: 100vw;

  text-align: start;
  padding-left: 10px;
  margin-top: 0px;
  justify-content: space-around;
  border: 2px solid orangered; */

  /* border: 2px solid black; */
  height: 44%;
   width: 40vw; 
  /* height: 30vh; */
  /* width: 40vw; */
  padding: 10px; 
 /* padding-left: 10px; */
  margin-top: 0px;
  font-size: 14px;
  /* border: 2px solid green; */


}

.footer-grid {
  /* 
  border: 2px solid blue; */
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 90vw;
  justify-content: space-between;
  align-content: space-around;
  /* padding: 20px;
  margin: 50px; */
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  /* border: 2px solid blue; */

}
.Linksize{
  text-decoration: none;
  color: black;
}

.footer-gird-column {

  /* border: 2px solid red;*/
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: center;
  text-align: start;

}

.footer-grid-heading {
   
  font-size: 15px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: center; */
}

.footer-links-list {

  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  height: 8rem;
  /* align-content: space-evenly; */
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  list-style-type: none;
  padding-left: 0;
  text-decoration: none;
  font-size: 11px;
  font-weight: 10;
  text-decoration: none;
}


.social {

  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* border: 2px solid black; */

  margin-top: 20px;

  /* text-align: left;*/
  margin-left: 0px;
  padding-left: 0px;
  width: 220px;
  height: 30px;

}

.fotter-social-link {
  height: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

}

/* Media queries apply on footer-section */

@media (max-width:932px) {

  .footer-container {

    /* border: 2px solid red; */
    height: 40vh;
    width: 590px;
    text-align: center;
    margin-top: 0px;
    /* border: 2px solid red; */
  margin-top: 0;
  margin-left: 1px;
  /* border: 2px solid red; */
 

  }


  .footer {
/*  
    border: 5px solid green;  */
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;

    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    /* padding: 10px; */
    margin-left: 10px; 
    margin-top: 0px;
 
    flex-direction: column; 
    /* border: 2px solid red; */

    
    
  }

  .footer-top {
    /* 
  border: 2px solid black; */
    /* height: 90%; */
    /* width: 20vw; */
    /* height: 20vh;
    width: 150vw;
    /* padding: 10px; */
    /* text-align: center;
    padding-left: 10px;
    margin-top: 0px;
    justify-content: space-evenly;
    background-color: rgb(236, 236, 236); */
    /* border: 2px solid green; */ 

    padding-left: 10px;
    height: 70px;
    width: 570px; 
   /* height: 30vh; */
   /* width: 40vw; */
   /* padding: 10px;  */
  /* padding-left: 10px; */
   margin-top: 0px;
   font-size: 14px;
   /* border: 2px solid green; */
 text-align: center;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 text-align: center;
   
  }

  .footer-grid {
    /* 
  border: 2px solid blue; */
    display: flex;
    justify-content: center;
    height: 60vh;
  width: 510px;
    justify-content: space-between;
    align-content: space-around;
    /* padding: 20px;
  margin: 50px; */
    font-family: Arial, Helvetica, sans-serif;
    /* flex-direction: column; */
    /* grid-template-rows:repeat(2,1fr) ;
    grid-template-columns: repeat(2,1fr); */
    /* border: 2px solid blue; */
    /* padding: 10px; */
    background-color: rgb(236, 236, 236);
  margin-top: 0;
  /* border: 2px solid blue; */
  padding-left: 40px;
  padding-right: 40px;
    
  }

  .footer-gird-column {

    /* border: 2px solid red; */
    display: flex;
    /* flex-direction: column; */
    /* align-content: center;   */
    justify-content: center;
    text-align: start;
    /* grid-template-rows:repeat(2,1fr) ;
    grid-template-columns: repeat(2,1fr); */

  }
  .footerafavicon{
     margin-top: 20px;
    width: 20px;
    height: 20px;
    font-size: px;

  }
  .favicon_font{
    font-size: 15px;
  }

  .footer-grid-heading {

    font-size: 11px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
  }

  .footer-links-list {

    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    height: 6rem;
    /* align-content: space-evenly; */
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    list-style-type: none;
    padding-left: 0;
    text-decoration: none;
    font-size: 8px;
    font-weight: 100;
    text-decoration: none;
    padding-right: px;
     
}

  .social {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* border: 2px solid black; */

    margin-top: 20px;

    /* text-align: left; */
    margin-left: 100px;
    padding-left: 0px;
    width: 150px;
    height: 20px;

  }
  .footerpara{
    display: none;
  }

  .fotter-social-link {
    height: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;

  }
  .footer-copyright{
    font-size: 10px;
  }
}

/* register anf login form */

.Register-form{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   height: 100%;
   width: 50%;
   border: 2px solid black;
   padding: 50px;
   margin-left: 300px;
   margin-top: 100px;
   border-radius: 10px;
   background-color: navy;
   margin-top:45px;
}
#register-btn{

  height: 50px;
  width: 600px;
  margin-left: 30px;
  border-radius: 10px;
   background-color: yellow; 
  color: black;
  font-size: 20px;
}
.placeholder{

  height: 50px;
  width: 600px;
  margin-left: 30px;
  border-radius: 5px ;
 
}
#form-p{
  text-align: center;
  color: white;
  font-size: 20px;
}
#form-h1{
  text-align: center;
  color: white;
}
#form-a{
  color: yellow;
  font-size: 20px;
}
#register-btn:hover{

  background-color: green;
  color: white;
  
}


/* apply media queries on register_form or login_form */


    
  
 @media (max-width:768px){


  .Register-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 40vh;
    width: 75vw;
    border: 2px solid black;
    padding: 42px;
    margin-left: 10px;
    margin-top: 500px;
    border-radius: 10px;
    background-color: navy;
    margin-top:120px;
    align-items: center;
 }
 
 #register-btn{
 
   height: 13%;
   width: 100%;
   margin-left: 5px;
   border-radius: 10px;
    background-color: yellow; 
   color: black;
   font-size: 20px;
   align-items: center;
 }
 .placeholder{
 
   height: 12%;
   width: 100%;
   margin-left:2%;
   border-radius: 10px ;
  
 }
 #form-p{
   text-align: center;
   color: white;
   font-size: 20px;
 }
 #form-h1{
   /* text-align: center; */
   color: white;
 }
 #form-a{
   color: yellow;
   font-size: 100%;
 }
 #register-btn:hover{
   background-color: green;
   color: white;
   
 }



 }


